{% extends "Municipality/municipality-standard.html" %}
{% block title %}Denuncias{% endblock %}

{% block content-header %}Denuncias{% endblock %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tipo Denuncia</th>
            <th>Animal</th>
            <th>Dirección</th>
            <th>Herido</th>
        </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
            <tr class="clickable-row" data-href="{% url 'see-complaint' complaint.pk %}">
                <th>{{ complaint.get_case_display }}</th>
                <th>{{ complaint.animal_type }}</th>
                <th>{{ complaint.directions }}</th>
                <th>{{ complaint.get_wounded_display }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>

    </body>
{% endblock %}