{% extends "base.html" %}
{% block body %}
    <body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>CH</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Cholito</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- TODO: ADD PROFILE PICTURE TO MUNICIPALITIES-->
                                <img src="dist/img/muni-santiago-160x160.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{ municipality_user.municipality.name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <!-- TODO: ADD PROFILE PICTURE TO MUNICIPALITIES-->
                                    <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
                                    <img src="dist/img/muni-santiago-160x160.png" class="img-circle" alt="User Image">
                                    <p>{{ municipality_user.municipality.name }}</p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-default btn-flat" data-toggle="modal"
                                                data-target="#myModal">
                                            Perfil
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <!-- TODO: ADD PROFILE PICTURE TO MUNICIPALITIES-->
                        <img src="dist/img/muni-santiago-160x160.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <!-- TODO: Maybe set short name / long name in model?-->
                        <p>{{ municipality_user.municipality.name }}</p>
                    </div>
                </div>
                <!-- TODO: use JS to get statistics, ONG and complaints -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!-- Optionally, you can add icons to the links -->
                    <li>
                        <!-- TODO: complaint list that matches municipality -->
                        <a href="#">
                            <i class="fa fa-bullhorn"></i>
                            <span>Denuncias</span>
                        </a>
                    </li>
                    <li class="treeview active menu-open">
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                            <span>Estadísticas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Denuncias
                                </a>
                            </li>
                            <li class="active">
                                <a href="#"> <!--"muni-estadisticas-ongs.html">-->
                                    <i class="fa fa-circle-o"></i>
                                    ONG
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ONG
                </h1>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <!-- /.col -->
                    <p>The ONG goes here</p>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-purple-active">
                                <h3 class="widget-user-username">Fundación EDRA</h3>
                                <h5 class="widget-user-desc">
                                    <i class="fa fa-star c-star"></i>
                                    182
                                </h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle" src="dist/img/ong-edra.png" alt="User Avatar">
                            </div>
                            <div class="c-box__footer">
                                <!--muni-estadisticas-ongs-ong.html>-->
                                <a href="#" type="button" class="btn btn-primary">
                                    <i class="fa fa-bar-chart"></i>
                                    Ver Estadísticas
                                </a>
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Perfil</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   value="Municipalidad de Santiago">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Imagen de perfil</label>
                            <br>
                            <img src="dist/img/muni-santiago-160x160.png" class="user-image" alt="User Image"
                                 width="150">
                            <br><br>
                            <input type="file" id="exampleInputFile">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./modal -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->
    </body>
{% endblock %}