 {% extends "base.html" %}
{% block body %}

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="{% url 'user-index' %}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>CH</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Cholito</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% if user.is_authenticated %}
                    <h2>LOGGED IN</h2>
                    <a href={% url 'logout' %}>Salir</a>
                {% else %}
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href={% url 'login' %}>Ingresar</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview active menu-open">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>Adoptar</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <!-- TODO: display based on animal-type model -->
                        <ul class="treeview-menu c-filtro-adoptar">
                            <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Tipo
                                    </label>
                                </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Perro</option>
                                    <option>Gato</option>
                                    <option>Loro</option>
                                    <option>Vaca</option>
                                    <option>Caballo</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Edad
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>0-1</option>
                                    <option>2-4</option>
                                    <option>4-10</option>
                                </select>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <!-- TODO: redirect -->
                        <a href={% url 'complaint-form' %}>
                            <i class="fa fa-bullhorn"></i>
                            <span>Denunciar</span>
                        </a>
                    </li>
                    <li>
                        <!-- TODO: redirect -->
                        <a href="#">
                            <i class="fa fa-star"></i>
                            <span>ONG</span>
                        </a>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Adoptar</h1>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">

                <h2>MAP HERE</h2>

                <div id="map" class="c-mapa"></div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer
        <footer class="main-footer">
            <!-- To the right --
            <div class="pull-right hidden-xs">
            Anything you want
            </div>
            <!-- Default to the left --
            <strong>
                Copyright &copy; 2017 Cholito.
            </strong>
            All rights reserved.
        </footer>
        -->
        <!-- Control Sidebar --
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs --
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active">
                    <a href="#control-sidebar-home-tab" data-toggle="tab">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#control-sidebar-settings-tab" data-toggle="tab">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </aside>
        !-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->

    <!-- no need for map just yet
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var myCenter = new google.maps.LatLng(-33.457394,-70.664601);
            var centerOne= new google.maps.LatLng(-33.453291,-70.667269);
            var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
            var centerThree = new google.maps.LatLng(-33.466617, -70.676903);
            var mapOptions = {center: myCenter, zoom: 15};
            var map = new google.maps.Map(mapCanvas,mapOptions);
            var myCity = new google.maps.Circle({
                center: myCenter,
                radius: 15,
                strokeColor: "#0000FF",
                strokeOpacity: 0.7,
                strokeWeight: 2,
                fillColor: "#0000FF",
                fillOpacity: 0.4
            });
            var map = new google.maps.Map(mapCanvas,mapOptions);
            myCity.setMap(map);
            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(map, event.latLng);
            });
            var infowindow = new google.maps.InfoWindow({
                content:"ONG Favorita"
            });
            var markerOne = new google.maps.Marker({
                position: centerOne,
                icon: "favorito.png"
            });
            markerOne.setMap(map);
            infowindow.open(map,markerOne);
        }

        function placeMarker(map, location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: 'Nombre ONG'
            });
            infowindow.open(map,marker);
        }
    </script>
    <!-- Mapa de google --
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>
    -->
</body>

{% endblock %}