<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrate!</title>

</head>
<body>

<h2>Ingresa tus datos para registrarte en la pagina!</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'signup' %}">

    {% csrf_token %}
    {{ user_form.username.as_hidden }}
    <p>Avatar:<br>
        {{ avatar_form.avatar }}
    </p>
    <p>Email:<br>
        {{ user_form.email }}
    </p>
    <p>Nombre:<br>
        {{ user_form.first_name }}
    </p>
    <p>Apellido:<br>
        {{ user_form.last_name }}
    </p>
    <p>Contraseña:<br>
        {{ user_form.password1 }}
    </p>
    <p>Confirma tu contraseña:<br>
        {{ user_form.password2 }}
    </p>
    <input type="submit" value="Enviar"/>
</form>
</body>
</html>