{% extends "main-user.html" %}

{% block sidebar %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% if user.is_authenticated %}
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ c_user.avatar.url }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <br>
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                </div>
            {% endif %}
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview active menu-open">
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>Adoptar</span>
                        <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                    </a>
                    <ul class="treeview-menu c-filtro-adoptar">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Tipo
                            </label>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                {% for animal in animals %}
                                    <option>{{ animal }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Edad
                            </label>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>0-1</option>
                                <option>2-4</option>
                                <option>4-10</option>
                            </select>
                        </div>
                    </ul>
                </li>
                <li>
                    <a href={% url 'complaint-form' %}>
                        <i class="fa fa-bullhorn"></i>
                        <span>Denunciar</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star"></i>
                        <span>ONG</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'see-animal' 1 %}">
                        <i class="fa fa-paw"></i>
                        <span>Animales en Adopción</span>
                    </a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}


{% block control %}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active">
                <a href="#control-sidebar-home-tab" data-toggle="tab">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="#control-sidebar-settings-tab" data-toggle="tab">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                                <span class="label label-danger pull-right">70%</span>
                                </span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Perfil</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user_first_name">{{ user.first_name }}</label>
                            <input type="email" class="form-control" id="user_first_name"
                                   value="{{ user.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="user_last_name">{{ user.last_name }}</label>
                            <input type="email" class="form-control" id="user_last_name"
                                   value="{{ user.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Imagen de perfil</label>
                            <br>
                            <img src="{{ c_user.avatar.url }}" class="user-image" alt="User Image" width="150">
                            <br><br>
                            <input type="file" id="exampleInputFile">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./modal -->
{% endblock %}